@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@layer base {
  html {
    @apply scroll-smooth text-black;
  }

  img {
    @apply select-none pointer-events-none;
  }
  
}
.swiper-button-next, .swiper-button-prev { color: rgb(242 106 14) }
.swiper-pagination-bullet-active { background: rgb(242 106 14); }

@media (min-width: 1024px) {
  .swiper-button-next {
      margin-right: 2rem;
  }
  .swiper-button-prev {
      margin-left: 2rem;
  };
}